<!-- https://github.com/UCSB-CS56-pconrad/UCSB-CS56-pconrad.github.io/edit/master/_topics/test_driven_development.md -->

<div data-role="footer" class="footer">
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="{{site.github_url}}">this site on github</a></li>
   <li><a href="{{site.instructor}}">instructor info</a></li>
   <li><a href='{{site.github_url}}/edit/master/{{page.path}}'>edit this page on github</a></li>
   <li><a href="{{site.legacy_wiki_url}}">{{site.legacy_wiki_name}}</a></li>

  </ul>
 </nav>
</div>
