<div data-role="header" class="header">
  <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="https://ucsb-cs16.github.io">UCSB {{site.course}} </a></li>
    <li><a href="/" class="ui-btn-active">{{site.course}} F16</a></li>
     <li><a href="https://submit.cs.ucsb.edu">submit.cs</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="https://gauchospace.ucsb.edu/courses/course/view.php?id=12634">Gauchospace</a></li>
   <li><a href="#">Piazza</a></li>
    <li><a href="{{site.legacy_wiki_url}}">{{site.legacy_wiki_name}}</a></li>
  </ul>
 </nav>
</div>
