<div data-role="header" class="header">

 <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="/">UCSB {{site.course}}</a></li>
    <li><a href="{{site.this_qtr_class_url}}" class="ui-btn-active">{{site.course}} {{site.qtr}}</a></li>
    <li><a href="{{site.gradescope_class_url}}">Gradescope</a></li>
    <li><a href="{{site.this_qtr_class_url}}/info/office_hours/">Office Hours</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="{{site.gauchospace_course_page}}">Gauchospace</a></li>
   <li><a href="{{site.piazza_url}}">Piazza</a></li>
   <li><a href="{{site.github_url}}">M18 github</a></li>
  </ul>
 </nav>



</div>
