<!-- https://github.com/UCSB-CS56-pconrad/UCSB-CS56-pconrad.github.io/edit/master/_topics/test_driven_development.md -->

<div data-role="footer" class="footer">
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="https://github.com/UCSB-CS56-pconrad/UCSB-CS56-pconrad.github.io/">this site on github</a></li>
   <li><a href='https://github.com/UCSB-CS56-pconrad/UCSB-CS56-pconrad.github.io/edit/master/{{page.path|replace_first: "UCSB-CS56-pconrad.github.io/",""}}'>edit this page on github</a></li>
  </ul>
 </nav>
</div>
